variables:
  RULES_CHANGES_PATH: "**/*"
#  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_LATEST: $CI_REGISTRY_IMAGE/nodejs-exemplo:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/nodejs-exemplo:$CI_COMMIT_SHORT_SHA

stages:
  - test
  - publish
  - deploy

.base-rules:
  # https://how-to.dev/how-to-set-up-monorepo-build-in-gitlab-ci
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $RULES_CHANGES_PATH
    - when: manual
      allow_failure: true

.nodejs-exemplo:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "nodejs-exemplo/**/*"

.desativado:
  rules:
    - when: manual
      allow_failure: true

test-nodejs-exemplo:
  stage: test
  extends: .nodejs-exemplo
  rules:
    - allow_failure: false
  variables:
  # Não precisa clonar
    GIT_STRATEGY: none
  needs: []
  script:
    - echo "TESTANDO VARIÁVEIS"
    - echo "TAG_COMMIT"
    - echo $TAG_COMMIT
    - echo "TAG_LATEST"
    - echo $TAG_LATEST
    - echo "CI_BUILD_TOKEN"
    - echo $CI_BUILD_TOKEN
    - echo "CI_REGISTRY"
    - echo $CI_REGISTRY
    - echo CI_REGISTRY_IMAGE
    - echo $CI_REGISTRY_IMAGE
    - echo CI_COMMIT_REF_NAME
    - echo $CI_COMMIT_REF_NAME
    - echo CI_COMMIT_SHORT_SHA
    - echo $CI_COMMIT_SHORT_SHA

# https://www.digitalocean.com/community/tutorials/how-to-set-up-a-continuous-deployment-pipeline-with-gitlab-ci-cd-on-ubuntu-18-04
publish2-nodejs-exemplo:
  extends: .desativado #.nodejs-exemplo
  needs: ["test-nodejs-exemplo"]
  stage: publish
  # Build and push the Docker image to the GitLab image registry
  # using Podman.

  image:
    name: quay.io/podman/stable

    # GitLab has a built-in Docker image registry, whose
    # parameters are set automatically. You can use some
    # other Docker registry though by changing the login and
    # image name.
  script:
    #- docker info
    #- docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    #- docker build -t $TAG_COMMIT -t $TAG_LATEST nodejs-exemplo
    #- docker push $TAG_COMMIT
    #- docker push $TAG_LATEST
    - podman login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - podman build -t "$TAG_LATEST" -t "$TAG_COMMIT" nodejs-exemplo
    - podman push "$TAG_COMMIT"
    - podman push "$TAG_LATEST"

# https://blog.callr.tech/building-docker-images-with-gitlab-ci-best-practices/
publish-nodejs-exemplo:
  extends: .nodejs-exemplo
  rules:
    - allow_failure: false
  needs: ["test-nodejs-exemplo"]
  stage: publish
  
  # Use this if your GitLab runner does not use socket binding
  # services:
  #   - docker:dind

  # do not use latest
  image: docker:dind

  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # fetches the latest image (not failing if image is not found)
    - docker pull $TAG_LATEST || true
    # builds the project, passing proxy variables, using OCI labels
    # notice the cache-from, which is going to use the image we just pulled locally
    # the built image is tagged locally with the commit SHA, and then pushed to 
    # the GitLab registry
    - >
      docker build
      --pull
      --cache-from $TAG_LATEST
      --label "org.opencontainers.image.title=$CI_PROJECT_TITLE"
      --label "org.opencontainers.image.url=$CI_PROJECT_URL"
      --label "org.opencontainers.image.created=$CI_JOB_STARTED_AT"
      --label "org.opencontainers.image.revision=$CI_COMMIT_SHA"
      --label "org.opencontainers.image.version=$CI_COMMIT_REF_NAME"
      --tag $TAG_COMMIT
      nodejs-exemplo
    - docker tag $TAG_COMMIT $TAG_LATEST
    - docker push "$TAG_COMMIT"
    - docker push "$TAG_LATEST"


# https://juju.is/tutorials/using-gitlab-as-a-container-registry#7-pull-your-container
deploy-nodejs-exemplo:
  extends: .nodejs-exemplo
  rules:
    - allow_failure: false
  needs: ["publish-nodejs-exemplo"]
  
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
#   - kubectl config get-contexts
    - kubectl config use-context erickweil/testes-k8s:locaweb
#   - kubectl get pods
    - kubectl apply -f ./nodejs-exemplo/deployment.yaml
    - kubectl apply -f ./nodejs-exemplo/service.yaml
    - kubectl rollout restart deployment nodejs-deploy
