apiVersion: v1
kind: ConfigMap
metadata:
  name: sshalunos-cm
data:
  # Variável de ambiente que controla que usuários serão criados
  USERS: "primeiro:12345678;segundo:12345678;terceiro:12345678"
  
  # Diretório que será usado para criar as pastas dos usuários
  USERS_HOME_DIR: "/home"

  # Grupo no qual os usuários farão parte
  USERS_GROUP: "alunos"

  # Para funcionar caracteres especiais no nano
  # https://stackoverflow.com/questions/54008456/special-characters-not-being-displayed-properly-inside-text-editors-on-a-docker
  LOCALE_LANG: "pt_BR.UTF-8"
  
  # Endereço do serviço docker
  DOCKER_HOST: "tcp://localhost:2375"