apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sshalunos-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sshalunos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sshalunos
  template:
    metadata:
      labels:
        app: sshalunos
    spec:
      containers:
      - name: sshalunos
        image: erickweil/container-ssh:latest
        resources: {}
        envFrom:
        - configMapRef:
            name: sshalunos-cm
        ports:
        - containerPort: 22
        volumeMounts:
        - mountPath: /home
          name: vol-home
      # Tem um pod próprio agora com serviço chamado 'docker' (Veja neste repositório ./dockerindocker/dockerpod.yaml)
      #- name: dind-daemon 
      #  image: docker:dind 
      #  command: ["dockerd", "--host", "tcp://127.0.0.1:2375"]
      #  #args: ["--exec-opt", "native.cgroupdriver=systemd"]
      #  resources: {}
      #  securityContext: 
      #      privileged: true 
      #  volumeMounts: 
      #    - name: docker-graph-storage 
      #      mountPath: /var/lib/docker 
      volumes: 
      #- name: docker-graph-storage
      #  emptyDir: {}
      - name: vol-home
        persistentVolumeClaim:
          claimName: sshalunos-pvc
      # https://stackoverflow.com/questions/60247100/hostpath-assign-persistentvolume-to-the-specific-work-node-in-cluster
      affinity:               
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k3s-erick-controller-1
---
apiVersion: v1
kind: Service
metadata:
  name: sshalunos
spec:
  type: NodePort
  selector:
    app: sshalunos
  ports:
  - name: ssh
    port: 22
    targetPort: 22
    nodePort: 31022