apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-deploy
  template:
    metadata:
      labels:
        app: nodejs-deploy
    spec:
      containers:
      - name: nodejs-deploy
        image: registry.fslab.dev/erickweil/nodejs-exemplo:latest
#       image: erickweil/nodejs-k8s-exemplo:latest
#       image: registry.gitlab.com/erickweil/testes-k8s/nodejs-exemplo:latest
        resources: {}
        ports:
        - containerPort: 3000
        env:
        - name: "PUBLICPATH"
          value: "/"
      imagePullSecrets: 
      - name: regcred
