apiVersion: v1
kind: ConfigMap
metadata:
# https://gist.github.com/petitviolet/d36f33d145d0bbf4b54eb187b79d0244
  name: nginx-dns-conf
data:
  default: |
    # http://nginx.org/en/docs/http/websocket.html
    map $http_upgrade $connection_upgrade {
            default upgrade;
            '' close;
    }

    server {
            listen ${NGINX_PORT} default_server;
            listen [::]:${NGINX_PORT} default_server;

            root /usr/share/nginx/html;
            index index.html index.htm index.nginx-debian.html;

            server_name _;

            location / {
                    try_files $uri $uri/ =404;
            }
    }

    server {
            listen ${NGINX_PORT};
            listen [::]:${NGINX_PORT};

            # https://stackoverflow.com/questions/9578628/redirecting-a-subdomain-with-a-regular-expression-in-nginx
            server_name ~^(?<subdomain>.+)${SERVER_NAME}$;

            location / {
                #include resolvers.conf;
                resolver ${RESOLVER_IP} valid=10s;

                proxy_set_header X-Real-IP  $remote_addr;
                proxy_set_header X-Forwarded-For $remote_addr;

                #Permitir WebSockets
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection $connection_upgrade;

                proxy_set_header Host $host;
                proxy_http_version 1.1;

                proxy_pass http://$subdomain${LOCAL_DOMAIN}:80$request_uri;

                # Debug
                add_header X-Subdomain $subdomain always;
                add_header X-Request-Uri $request_uri always;

                # Outra forma de Debug
                #add_header Content-Type text/plain;
                #return 200 "http://$subdomain$request_uri";
          }

    }
---