apiVersion: v1
kind: PersistentVolume
metadata:
  name: kubectl-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 4Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/opt/volume/kubectl"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kubectl-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 4Gi
  storageClassName: manual
  volumeName: kubectl-pv
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubectl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubectl
  template:
    metadata:
      labels:
        app: kubectl
    spec:
      containers:
      - name: kubectl
        image: erickweil/kubectl:latest
        resources: {}
        ports:
        - containerPort: 22
        volumeMounts:
          - mountPath: /root
            name: pv
      volumes:
      - name: pv
        persistentVolumeClaim:
          claimName: kubectl-pvc