apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kubectl-home-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubectl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubectl
  template:
    metadata:
      labels:
        app: kubectl
    spec:
      containers:
      - name: kubectl
        image: erickweil/kubectl:latest
        resources: {}
        envFrom:
        - configMapRef:
            name: kubectl-cm
        ports:
        - containerPort: 22
        volumeMounts:
        - mountPath: /home
          name: vol-home
      - name: dind-daemon 
        image: docker:dind 
        command: ["dockerd", "--host", "tcp://127.0.0.1:2375"]
        #args: ["--exec-opt", "native.cgroupdriver=systemd"]
        resources: {}
        securityContext: 
            privileged: true 
        volumeMounts: 
          - name: docker-graph-storage 
            mountPath: /var/lib/docker 
      volumes: 
      - name: docker-graph-storage
        emptyDir: {}
      - name: vol-home
        persistentVolumeClaim:
          claimName: kubectl-home-pvc
      # https://stackoverflow.com/questions/60247100/hostpath-assign-persistentvolume-to-the-specific-work-node-in-cluster
      affinity:               
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k3s-erick-worker
---
apiVersion: v1
kind: Service
metadata:
  name: kubectl-ssh
spec:
  type: NodePort
  selector:
    app: kubectl
  ports:
  - name: ssh
    port: 22
    targetPort: 22
    nodePort: 30022
  - name: http
    port: 80
    targetPort: 80

    
