apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubectl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubectl
  template:
    metadata:
      labels:
        app: kubectl
    spec:
      containers:
      - name: kubectl
        image: erickweil/kubectl:latest
        resources: {}
        envFrom:
          - configMapRef:
              name: kubectl-cm
        ports:
        - containerPort: 22
        volumeMounts:
        - mountPath: /home
          name: vol-kubectl
      # https://stackoverflow.com/questions/60247100/hostpath-assign-persistentvolume-to-the-specific-work-node-in-cluster
      affinity:               
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k3s-erick-worker
      volumes:
      - name: vol-kubectl
        hostPath:
          path: /opt/volume/kubectl
---
apiVersion: v1
kind: Service
metadata:
  name: kubectl-ssh
spec:
  type: NodePort
  selector:
    app: kubectl
  ports:
  - port: 22
    targetPort: 22
    nodePort: 30022
    
